.contactform {
  position: absolute;
  top: 20%;
  right: 32%;
  width: 60rem;
  background: rgba(232, 67, 147, .8);
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  display: none;
  animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  z-index: 9000;

  &--checkbox {
    position: absolute;
    top: 0;
    left: 10%;
    display: none;
  }

  &--checkbox:checked~& {
    display: block;
  }

  &--checkbox:checked~.sidenav--overlay {
    background: rgba(232, 67, 147, .5);
    z-index: 8000;
  }

  &--h2 {
    padding: 1rem;
  }

  &--area {
    display: block;
    margin: 1rem 0;
  }

  &__btn--area {
    display: flex;
    justify-content: space-between;
  }

  & label {
    padding: 0 1.5rem;
    color: #fff;
  }

  &--input {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1.5rem;
    outline: none;
    border: none;
    border-radius: 2px;
    background: #fff;
    color: #000000;
    border-bottom: 3px solid transparent;
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000000, .1);
      border-bottom: 3px solid rgba(232, 67, 147, 1);
    }
  }

  & textarea {
    resize: none;
  }
}