.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40rem;
  background: rgba(232, 67, 147, .9);
  z-index: 9000;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 2rem 2rem 2rem 2rem rgba(237, 76, 103, .4);
  padding: 3rem;
  transform: translateX(40rem);

  &--icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    z-index: 8000;

    & span {
      border-radius: 10px;
      background: rgba(232, 67, 147, 1);
    }

    & span:nth-child(1) {
      width: 4.5rem;
      height: .5rem;
      display: block;
      margin-bottom: .5rem;
    }

    & span:nth-child(2) {
      width: 4rem;
      height: .5rem;
      display: block;
      margin-bottom: .5rem;
    }

    & span:nth-child(3) {
      width: 3.5rem;
      height: .5rem;
      display: block;
      margin-bottom: .5rem;
      transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    span:nth-child(4) {
      width: 4.5rem;
      height: .5rem;
      display: block;
      margin-bottom: .5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
    background: #fff;
  }

  &--checkbox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  &--checkbox:checked~& {
    transform: translateX(0);
  }

  &--checkbox:checked~& span {
    transform: translateX(0);
  }

  &--checkbox:checked~&--overlay {
    background: rgba(232, 67, 147, .5);
    z-index: 8000;
  }

  & span {
    display: block;
    position: relative;
    margin: 3rem 0;
    padding: 2rem;
    color: #000000;
    transform: translateX(150%);
    @include sideNavItemReveal;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 28%;
      left: 0;
      width: 8rem;
      height: .2rem;
      background: #000000;
    }
  }
}