.socials {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin-top: 4rem;

  &--icon {
    height: 3rem;
    width: 3rem;
    fill: #000000;
    cursor: pointer;
    backface-visibility: hidden;
  }
}