body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.header {
  &--top-menu p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 450;
    font-size: $default-font-size;
    text-transform: uppercase;
  }
}

.sidenav span {
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 450;
  font-size: $default-font-size;
  text-transform: uppercase;

  @media only screen and (max-width: 64em) {
    font-size: 2.5rem;
  }
}

.about {
  text-align: left;
  line-height: 1.7;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000000;

  @media only screen and (max-width: 64em) {
    font-size: 2.9rem;
  }
}

.contactform {
  &--h2 {
    text-transform: uppercase;
    font-size: 2rem;
    color: #000000;
    text-align: center;
  }

  & label {
    font-weight: 700;
  }

  &--input {
    font-size: 1.7rem;
    letter-spacing: 2px;

    &::-webkit-input-placeholder {
      font-weight: 700;
      color: rgba(#000000, .7);
      letter-spacing: normal;
    }
  }

  & textarea {
    font-size: 2.3rem;
    font-weight: 500;
    color: rgba(#000000, .7);
    letter-spacing: normal;

    &::-webkit-input-placeholder {
      font-weight: 500;
      color: rgba(#000000, .7);
      letter-spacing: normal;
    }

    &:input-placeholder {
      font-weight: 500;
      color: rgba(#000000, .7);
      letter-spacing: normal;
    }
  }
}